<% content_for :title, title(@title) %>

<div class="parts index page">

  <div class="homepage jumbotron">

    <div class="container">
      <h1><%= @title %></h1>
      <p>Các sản phẩm mới nhất hiện đang có mặt tại Dr.Táo</p>
    </div>

  </div>

  <div class="container-fluid">

    <div class="container">

      <div class="row off_canvas">

        <div class="col-xs-12 col-md-2 categories">
          <h2>Danh mục</h2>
          <div class="items">
            <% @categories.each do |c| %>
              <p><%= link_to c.name, linh_kien_path(:'danh-mục' => en_url(c.name)) %></p>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-md-10">
          <% @parts_array.size.times do |i| %>
            <div class="row">
              <% @parts_array[i].each do |part| %>
                <% if part %>
                  <div class="col-md-4">
                    <%= render 'partials/part', part: part %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if @count > @per_page %>
            Trang: <%= will_paginate @parts, param_name: "trang" %>
          <% end %>
        </div>

      </div>

    </div>

  </div>

</div>
