<div class="article">
  <h2 class="title">
    <a href="<%= tin_tuc_show_path(en_url(article.title)) %>">
      <%= article.title %>
    </a>
  </h2>
  <p class="description">
    <%= article.description %>
  </p>
</div>
