<div class="col-sm-4">
  <li>
    <a href="<%= super_category_short_path(en_url(sup.name)) %>">
      <%= sup.name %>
    </a>
    <div class="subcategory-toggle">
      <span class="caret"></span>
    </div>
  </li>
  <ul class="level2">
    <% sup.categories.each do |cat| %>
      <li>
        <a href="<%= san_pham_path(:'danh-mục' => en_url(cat.name)) %>">
          <%= cat.name %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
