<div class="col-sm-4">
  <li><a href="#">Category</a><span class="caret subcategory-toggle"></span></li>
  <ul class="level2">
    <li><a href="#">Sub category</a></li>
    <li><a href="#">Sub category</a></li>
    <li><a href="#">Sub category</a></li>
    <li><a href="#">Sub category</a></li>
  </ul>
</div>
