<div class="media">
  <div class="media-left">
    <a href="#">
      <img src="/assets/avatar.jpg">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.name %></h4>
    <p class="comment-body"><%= comment.body %></p>
  </div>
</div>
