<% content_for :title, title("TIN TỨC") %>

<div class="news index page">

  <div class="homepage jumbotron">

    <div class="container">
      <h1>TIN TỨC</h1>
      <p>Các tin tức mới nhất về Dr.Táo</p>
    </div>

  </div>

  <div class="container-fluid">

    <div class="container">

      <% @articles.each do |article| %>
        <%= render 'article', article: article %>
      <% end %>

      <div class="row articles_pagination">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <% if @count > @per_page %>
              Trang: <%= will_paginate @articles, param_name: "trang" %>
            <% end %>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>

    </div>

  </div>

</div>
