@import "bootstrap-sprockets";
@import "bootstrap";

$lime: #95d600;
$hover-bg: #449d44;
$hover_border: #398439;
$blue: #002f87;
$bootstrap_grey: #e7e7e7;

a{
  color: #333;
  &:hover{
    text-decoration: none;
  }
}
h1{
  font-size: 64px;
  line-height: 1.2;
}
h1, h2{
  font-weight: 300;
}
.btn-success{
  background-color: $lime;
  border: 0px;
}
.navbar{
  margin-bottom: 0px;
  a{
    text-decoration: none;
  }
  .container{
    .navbar-header{
      .navbar-brand{
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
        svg{
          height: 40px;
        }
      }
    }
  }
}
.jumbotron{
  position: relative;
  background-color: transparent;
  img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container{
    position: relative;
    z-index: 1;
  }
  &:after{
    position: absolute;
    content: " ";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(1,1,1,.3);
  }
}
p{
  &.price{
    color: #96d429;
  }
}
// signin page css
.container.signin{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  label{
    display: none;
  }
  .form-signin {
    width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.news{
  margin-top: 50px;
  .row{
    display: flex;
    .sidebar{
      background-color: $bootstrap_grey;
      color: #777;
    }
    .articles{
      .read_more{
        display: block;
        background-color: $lime;
        margin-left: -15px;
        margin-right: -15px;
        text-align: center;
        color: white;
        padding: 10px 0px;
        font-size: 18px;
        &:hover{
          background-color: #449d44;
          border-color: #398439;
        }
      }
    }
  }
}
.footer{
  #map{
    width: 100%;
    height: 300px;
  }
  .contact_and_address{
    background-color: $bootstrap_grey;
    color: #777;
    h1{
      margin: 0px;
    }
    overflow: hidden;
    box-sizing: border-box;
    padding: 50px 0px;
    .infos{
      margin-top: 40px;
      .social_medias{
        font-size: 30px;
        a{
          text-decoration: none;
          svg{
            transition: all 300ms ease;
            fill: #777;
          }
          &:hover{
            svg{
              fill: #333;
            }
          }
        }
      }
    }
  }
}
.index{
  .categories{
    text-align: right;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    h2{
      background-color: #e7e7e7;
      color: #777;
      margin: 0px;
      margin-left: -15px;
      margin-right: -15px;
      box-sizing: border-box;
      padding: 15px;
      margin-bottom: 10px;
    }
  }
}
.next_page, .previous_page{
  display: none;
}
.show.page{
  .container-fluid{
    margin: 50px 0px;
    .image{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
    .body{
      margin-top: 20px;
    }
  }
}
.comments{
  h4.no_comments{
    margin-top: 20px;
  }
}
.new_comment{
  margin-top: 40px;
  label{
    display: none;
  }
}
@media (max-width: 768px) {
  .news{
    .row{
      display: block;
      .sidebar{
        padding: 20px 15px;
      }
    }
  }
}
@media (max-width: 992px){
  .products.index{
    overflow: hidden;
    .container-fluid{
      .row{
        position: relative;
        .col-xs-12{
          &.categories{
            user-select: none;
            h2{
              background-color: #95d600;
              color: white;
              overflow: hidden;
              margin-bottom: 0px;
              box-sizing: border-box;
              cursor: pointer;
              &:hover{
                background-color: $hover_bg;
              }
            }
            .items{
              margin-top: 10px;
              display: none;
              &.visible{
                display: block;
              }
            }
            margin-bottom: 30px;
            text-align: center;
          }
        }
      }
    }
  }
}
