<tr>
  <td><%= item.name %></td>
  <td><%= get_price(item.price) %></td>
  <td class="remove"><%= link_to "Xóa", line_items_path(thing_type: 'line_item', thing_id: item.id), method: :delete %></td>
</tr>
