<% content_for :title, title(@title) %>

<div class="products index page">

  <div class="homepage jumbotron">

    <div class="container">
      <h1><%= @title %></h1>
      <p>Các sản phẩm mới nhất hiện đang có mặt tại Dr.Táo</p>
    </div>

  </div>

  <div class="container-fluid">

    <div class="container">

      <div class="row off_canvas">

        <div class="col-xs-12 col-md-2 categories">
          <h2>Danh mục</h2>
          <div class="items">
            <% @categories.each do |c| %>
              <p><%= link_to c.name, san_pham_path(:'danh-mục' => en_url(c.name)) %></p>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-md-10">
          <% if @products_array.size < 1 %>
            Hiện tại danh mục này chưa có sản phẩm nào.
          <% else %>
            <% @products_array.size.times do |i| %>
              <div class="row">
                <% @products_array[i].each do |product| %>
                  <% if product %>
                    <div class="col-md-4">
                      <%= render 'partials/product', product: product %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>

    </div>

  </div>

</div>
